.TodoNavbar {
  padding: 10px 0;
  letter-spacing: -1.5px;
  line-height: 125%;

  &__title {
    font-size: 34px;
    font-weight: 700;
  }

  &__button {
    font-weight: 500;
    color: #575757;
  }

  &__date {
    font-size: 24px;

    &-weekday {
      font-size: 20px;
      font-weight: 400;
      color: lightgrey;
    }
  }
}
