.userInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;

  &--name {
    font-size: 20px;
    font-weight: bold;
  }

  &--email {
    font-size: 15px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
