.todo-item {
  width: 400px;
  text-align: center;
  background-color: grey;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;

  &__title {
    font-size: 2em;
    font-weight: 700;
    color: darkred;
  }

  &__check {
    color: darkgrey;
  }
}
