.todo-item {
  box-sizing: border-box;
  font-size: 22px;
  color: rgb(234, 79, 152);
  display: block;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background-color: rgb(247, 210, 226);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding-top: 20px;
  margin: 0 auto 30px;
}

.todo-item__title {
  text-align: center;
  margin: 10px 0;
  color: rgb(25, 1, 22);
}

.todo-item__main-title {
  text-align: center;
}
