.todoitem {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: rgb(228, 55, 69);
}

.completed {
  background-color: rgb(104, 199, 104);
}

.todoitem-list__item-title {
  font-size: 24px;
  font-weight: bold;
}

.todoitem-list {
  text-align: left;
}

.item {
  list-style-type: none;
}
