.todoitem {
  border: 1px solid blue;
  width: 250px;
  height: 300px;
  border-radius: 50px;
  background-color: cornflowerblue;
}

.completed {
  background-color: cadetblue;
  margin-bottom: 20px;
}

.todoitem-list__item-article {
  font-size: 12px;
  font-weight: bold;
}

.todoitem-list {
  text-align: left;
}

.item {
  list-style-type: none;
}

.todoitem-list__item-status {
  text-align: right;
  margin-right: 30px;
}
