.list {
  padding: 0;

  &__card {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}
