.list {
  list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;


  &__item {
    margin-bottom: 30px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 22px;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(161, 129, 129);
      transform: scale(0.95);
    }
  }
}
