.todoList
  background: white
  margin: auto
  margin-top: 5%
  max-width: 30%
  padding: 20px 50px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
  list-style: none

  &:hover
    box-shadow: 0 0 150px rgb(153, 153, 153)
    border-top-left-radius: 30px
    border-bottom-left-radius: 40px
    animation-name: example
    animation-duration: 0.25s
    border-left: 8px solid red
    transform: scale(1.1)





