.usersInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  padding: 20px;

  text-align: center;
  justify-content: center;
  align-items: center;
  
  list-style: none;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}
