.todoList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  &__title {
    margin-bottom: 10px;
  }

  &__task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: purple;
  }
}
