//
.task-item {
  list-style: none;
  border: 5px solid rgb(220, 56, 241);
  width: 30%;
  margin-top: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(171, 229, 240);
}
