.TodoList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 10px;
  max-width: 1000px;
}

.item {
  width: 300px;
  max-height: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;

}

.completed {
  background-color: #16a085;
}
