.todo__list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.todo__item {
  width: 200px;
  border: 1px solid red;
  margin-bottom: 10px;
}
