.TodoList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;

  background-color: #f3f7f6;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;

    background-color: #fefefe;

    cursor: pointer;

    &:hover .TodoList__user-info::before {
      background: linear-gradient(0deg, #51d7bb, #51d7bb);
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
    gap: 12px;

    &::before {
      content: '';

      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;

      background-color: #4d9687;
    }
  }

  &__user-name {
    margin-bottom: 6px;

    font-weight: bold;
  }

  &__user-email {
    font-size: 14px;
    color: #828388;
  }

  &__todo-info {
    display: flex;
    align-items: center;
  }

  &__status {
    display: flex;
    align-items: center;

    color: #5c7e6e;

    font-size: 20px;

    &--finished {
      margin-left: 100px;

      &::after {
        content: '';

        display: block;
        width: 64px;
        height: 64px;

        background: url(../../images/completed-icon.svg) no-repeat center / 40%;
      }
    }
  }
}
