.table {
  background-color: #97F4C8;
  border: 1px solid black;
  margin: 0;
  padding: 0px;

  &__header {
    border: 1px solid black;
    margin: 0;
    color: blue

  }
  &__item {
    font-size: 14px;
    text-align: center;
    width: 400px;
    padding: 10px;
    border: 1px solid;
    &:hover {
      color: blue;
      font-size: 15px;
    }
  }
}