$status-notDone: rgb(128, 30, 30);
$status-done: rgb(54, 138, 54);
$hover-dark: rgba(44, 44, 44, 0.068);

.todoItem {
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 20px;
  list-style: none;
  transition: background-color .4s;

  &:hover {
    background-color: $hover-dark;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__wrap {
    display: flex;
    align-content: center;
  }

  &__assignment {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }

  &__status {
    font-weight: bold;
    color: $status-notDone;

    &__completed {
      color: $status-done;
    }
  }
}
