.TodoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.TodoList__items {
  width: 300px;
  text-decoration: none;
}
