.todo-list {
  margin: 0 auto;
  max-width: 800px;
  border: 5px solid #d65db1;
  border-collapse: collapse;
}

.todo-list__header {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #d65db1;
}

td {
  padding: 10px;
}
