.todoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 30px;
  margin-bottom: 10px;

  &:hover {
    background-color: pink;
  }
}
