.todoList {
  background-color: white;
  margin-bottom: 20px;

  border: solid 1px #000;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  transition: transform 0.3s;
}

.todoList:hover {
  transform: scale(105%);
}
