.todo-title {
  font-size: 30px;
  font-weight: 800;
  color: black;
}

.todo-list__items {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
  text-align: left;
}

@media (max-width: 1300px) {
  .todo-list__items {
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: 1100px) {
  .todo-list__items {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 800px) {
  .todo-list__items {
    grid-template-columns: 60%;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .todo-list__items {
    grid-template-columns: 80%;
    justify-content: center;
  }
}
