.todoList {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #000;
    background-color: #ccc;
  }
}
