*{
  box-sizing: border-box;
}
body {
  font-family: Arial;
  color: #490047;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  margin: 10px;
  padding: 10px;
  background-color: #e299ff;
  width: 300px;
  height: 200px;
  text-align: center;
}
