.TodoList {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 1200px;
    margin: 15px;
    padding: 20px;
    
    font-size: 30px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    background-color: #669;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #0003;
  }
}
