.user-name {
  padding-bottom: 5px;
  color: rgb(26, 112, 26);
  font-size: 18px;
  font-weight: 700;

}

.name-item {
  color: rgba(1, 22, 4, 0.73);
  font-family: serif;
  font-size: 18px;
  font-weight: 700;
  font-style: none;
}
