.user {
  display: block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  border: 1px dotted;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightskyblue;
}
