.title {
    margin: 0 15px 5px;
}

.yes {
    text-decoration: line-through;
    margin: 0 15px;
}

.no {
    margin: 0 15px 5px;

}

a {
    text-decoration: none;
}

.status {
    margin-left: 5px;
    margin-right: 5px;
}