.ToDo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(238, 198, 100);
  margin: 10px;
  border: rgb(13, 33, 161) solid 2px;
  border-radius: 5px;
  padding: 0 15px;
}
