body {
  margin-left: auto;
  margin-right: auto;
}

li span {
  display: inline-block;
  align-self: center;
  padding-left: 10px;
}

li {
  display: grid;
  grid-template-columns: 180px 400px 110px;
  border: 1px solid salmon;
  height: auto;
  line-height: 1.5em;
}

.completed-true {
  background-color: rgb(139, 247, 139);
}

.completed-false {
  background-color: rgb(240, 26, 26);
  color: rgb(241, 235, 235);
}

.title {
  border-right: 1px solid salmon;
  border-left: 1px solid salmon;
}
