.todo {
  max-width: 50%;
  list-style: none;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  margin: 15px auto;
  padding: 10px;

  &__title {
    text-transform: uppercase;
  }

  &__status {
    color: gray;
  }
}
