.todo {
  margin: 0 auto 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 80vw;
  height: 15%;
  background-color:lemonchiffon;
  text-align: center;
  border: 1px dotted;
  border-radius: 15px;
}
