.App__list {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 10px auto;
  padding: 30px;
  background: rgb(244, 242, 242);
  border: 1px solid black;
  text-align: left;
}

.App__positive {
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: green;
}

.App__negative {
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
}
