.title {
  margin-bottom: 10px;
  color: grey;
  font-size: 1.5em;
}

.status {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.completed {
  color: rgb(65, 177, 65);

}

.notCompleted {
  color: rgb(226, 18, 18);
}
