.user {
  border: 2px solid rgb(34, 212, 159);
  width: max-content;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 5px 3px 2px 1px rgb(24, 192, 150);
}

.todo-info {
  background-color: rgb(166, 241, 238);
  padding: 6px;
  border-radius: 6px;
}
