.app {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.app-title {
  color: rgb(2, 4, 72);
}

.todos-count {
  color: rgb(166, 53, 114);
}

.users-count {
  color: rgb(166, 53, 114);
}
