.todo {
  &__title {
    font-size: 25px;
    color: rgb(3, 18, 66);
    text-decoration: underline;
  }

  &__status-completed {
    color: greenyellow;
    font-weight: bold;
  }

  &__status-not {
    color: red;
    font-weight: bold;
  }

  &__list {
    margin: 10px auto;
    width: 600px;
    border: 4px solid black;
    padding: 5px;
    list-style: none;
  }
}
