.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(53, 53, 53);
}

.todo__item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 300px;
  margin: 25px;
  padding: 25px;

  background-color: rgb(247, 247, 255);
  border: 1px solid rgb(53, 53, 53);

  transition: transform 0.2s ease-in-out;
}

.todo__item:hover {
  transform: scale(1.1);
}
