
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 3px solid rgb(255, 123, 0);
  border-radius: 8px;
  padding: 0 8px;
  margin: 8px auto;
}

.userName {
  align-self: flex-end;
}
