.todoInfo {
  display: flex;
  justify-content: space-between;

  &__task {
    align-self: center;
    font-size: 20px;
    max-width: 65%;
  }

  &__completed {
    align-self: center;

    &--true {
      height: 35px;
      width: 35px;
      background-image: url(../images/check-mark-1.svg);
      background-size: contain;
    }
  }
}
