.todoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px auto;
  padding: 20px;

  height: 100px;
  max-width: 800px;

  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  background: linear-gradient(to left, #457fca, #5691c8);

  color: white;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}