.item {
  margin: 0 20px 20px;
  padding: 20px;
  background-color: #51795e;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.item:hover {
  background-color: #92b29d;
  transition: 0.5s;
}
