.user {
  background-color: wheat;

  &__name {
    color: black;
    font-size: 30px;
  }
  &__email {
    &::after {
      content: "";
      display: block;
      padding: 5px;
      border-bottom: 1px solid blueviolet;
    }
  }
}
