.todo-card {
  max-width: 400px;
  padding-left: 20px;
  margin-bottom: 30px;
  background-color: #8fb6ff;
  border: 2px solid #170098;
  border-radius: 20px;

  font-family: "Trocchi", serif;

  &__title {
    color: #140d4f;
    font-size: 25px;
    font-weight: normal;
  }
}
