.todo {
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

&__title {
font-style: italic;
}

&__status-completed {
  color: green;
}

&__status-notcompleted {
  color: red;
}

}
