@import '../../vars';

.TodoInfo {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__toggler {
    display: none;
  }

  &__title {
    display: block;
    width: 400px;
    max-width: 400px;
    padding: 16px;

    color: $darkBlue;
    text-align: center;
    font-size: 24px;
    line-height: 100%;

    border-radius: 4px;
    border: 3px solid transparent;
    background-color: $lightBlue;
    box-shadow: 0px 0px 6px 2px $lightBlue;

    transition: color, background-color,
      border-color, opacity, box-shadow;
    transition-duration: 0.3s;

    &::before {
      content: '!';

      position: absolute;
      left: 0;

      transform: translate(-100%, -25%) rotateZ(-15deg);

      margin: 0;
      padding-inline: 10px;

      color: $lightBlue;
      font-size: 80px;

      transition-property: opacity;
      transition-duration: 0.3s;
    }
  }

  &__toggler:checked ~ &__title {
    opacity: 0.5;

    color: $lightBlue;
    text-decoration: line-through;

    background-color: transparent;
    border-color: $lightBlue;
    box-shadow: 0px 0px 6px 2px transparent;

    &::before {
      opacity: 0;
    }
  }
}
