.todo {

  &__title {
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
  }

  &__status {
    margin: 15px 10px;
    color: #cc0066;

    &--completed {
      color: #00994c;
    }
  }
}
