.todo {
  &--title {
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
  font-size: 1.7rem;
  font-weight: 600;
  }

  &--status {
  font-size: 1.2rem;
  font-weight: 600;
  }

  &--userdata {
  font-size: 1rem;
  font-weight: 300;
  }

  &--userdata-header {
  font-size: 1.2rem;
  font-weight: 600;
  }
}
