.todoInfo {
  display: inline-block;
  min-width: 700px;
  border: 1px solid black;

  margin-bottom: 10px;
  margin-right: 20px;

  border-radius: 5px;

  transition: 0.3s transform;

  cursor: pointer;

  &__title {
    word-wrap: break-word;
  }

  &:hover {
    transform: scale(1.02);
  }
}
