.App {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  color: rgb(46, 43, 43);
  margin: 10px;
  padding: 20px;
  display: block;
  width: 200px;
  height: 140px;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 3);
  transition: 0.5s transform;
}

li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.false {
  background-color: #e09cb3;
}

.false::after {
  content: "not finished";
  font-weight: bold;
}

.true::after {
  content: "done";
  font-weight: bold;
}

.true {
  background-color: rgb(22, 105, 22);
}
