.App {
  text-align: center;
}

.table {
  margin: auto;
  padding: 5px;
  border: 3px solid #95cef0;
  border-collapse: collapse;
}

.table__item,
.table__heading {
  padding: 5px;
}

.table__heading {
  background-color: #95cef0;
  border-bottom: 3px solid #95cef0;
}

.table__item {
  border: 1px solid #95cef0;
}
