html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: aqua;
}

h1,
ul,
li {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  background-color: rgb(45, 48, 48);
  border-radius: 10px;
  box-shadow: 0 0 7px 3px #050440;
}

.header {
  position: sticky;
  font-size: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__todo {
    margin-left: 50px;
  }

  &__user {
    color: azure;
  }

  &__status {
    margin-right: 80px;
  }
}
