.App {
  text-align: center;
}

.table {
  margin: auto;
  border: 2px solid rgb(180, 59, 59);
  padding: 10px;
  border-radius: 10px;
}

.tbody {
  background-color: lavenderblush;
}

.tr:hover {
  background-color: lightcoral;
  cursor: pointer;
}

.title {
  color: rgb(77, 13, 13);
  font-size: 24px;
}
