body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

table {
  position: relative;
  width: 90vw;
  margin: auto;
  border: 2px solid;
  border-radius: 1em;
  overflow: hidden;
  border-collapse: collapse;
}

thead,
td:first-child {
  background-color: #bae8e8;
}

tr:nth-child(even) {
  background-color: #e3f6f5;
}
