body {
  background-image: linear-gradient(45deg, #4ebd36, #7e7cf9);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  font-family: Roboto, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  min-width: 600px;
  max-width: 1000px;
}

tr {
  background: #fff;
  color: #808080;
}

tr:nth-child(2n + 1) {
  background: #f5f5f5;
}

thead tr:first-child {
  background: #e25644;
  color: #fff;
}

td,
th {
  text-align: left;
  padding: 18px;
}

thead th:hover {
  color: #fff400;
  cursor: pointer;
}

thead tr th:first-child {
  border-top-left-radius: 10px;
}

thead tr th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:hover {
  background: #f5f5f5;
  color: #585858;
  cursor: pointer;
}
