// styles go here
h1 {
  text-align: center;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: dimgray;
  text-transform: uppercase;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.todo-title {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: dimgray;
}

.todo-user {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: dimgray;
  text-transform: uppercase;
}

.complete {
  background: lightgreen;
}
.not-complete {
  background: lightcoral;
}
