html {
  background-color: #196f3d;
  color: aquamarine;
  align-items: center;
}

.todos {
  list-style: none;
  font-size: 15px;

  &__item {
    box-sizing: border-box;
    border: 2px solid aquamarine;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &--completed {
      background-color: goldenrod;
    }

    &--not_completed {
      background-color: rosybrown;
    }
  }

  &__title {
    font-size: 30px;
  }

}
