* {
  font-family: sans-serif;

}
.App {
  padding: 10px;

}

body {
  background-color: rgb(207, 236, 236);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

.item {
  height: 150px;
  width: 100;
  color: rgb(37, 53, 33);
  border: 3px solid blue;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 5px;
  font-size: 20px;
  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: aqua;
  }
}
