.todo_completed {
  &--true {
    font-weight: 400px;
    font-size: 20px;
    color: rgb(58, 156, 45);
  }

  &--false {
    font-weight: 400px;
    font-size: 20px;
    color: rgb(145, 26, 41);
  }
}

.todo {
  font-weight: 400px;
  font-size: 20px;
}
