.todo {
  background-color: rgba(0, 255, 255, 0.274);
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  margin-bottom: 20px;

  &__copleted {
    padding: 10px;
    width: max-content;
    border-radius: 10px;
    background-color: rgba(57, 100, 240, 0.438);
    margin-bottom: 5px;
  }
}

.false {
  background-color: rgba(240, 57, 57, 0.438);
}
